name: test

on: [push, pull_request, workflow_dispatch]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        rust: [stable, nightly]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Install dependencies
        run: sudo apt-get install gcc patch libudev-dev
        if: runner.os == 'linux'

      - uses: actions/checkout@v2

      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{matrix.rust}}

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-${{ matrix.rust }}-cargo-${{ hashFiles('**/Cargo.toml') }}

      - name: Run tests
        run: cargo test --verbose
